<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <nav class="site-nav">
	  <div class="wrapper">

		<div class="trigger">
			<a class="page-link" href="http://dlfmetadataassessment.github.io/entries/take-part">Participate</a>
			<a class="page-link" href="http://dlfmetadataassessment.github.io/entries/collaborations">Collaborations</a>
			<a class="page-link" href="http://dlfmetadataassessment.github.io/entries/contributors">Contributors</a>
			<a class="page-link" href="">Skillbuilding</a>

		</div>

	  </div>
  </nav>

</footer>
