<ul id="nav">
  <li><a href="https://dlfmetadataassessment.github.io/Sandbox">DLF AIG Metadata Working Group Toolkit</a></li>
  <li><a href="https://dlfmetadataassessment.github.io/Sandbox/entries/about">About &amp; Contact</a></li>
  <li><a href="https://dlfmetadataassessment.github.io/Sandbox/entries/take-part">Participate</a></li>
  <!-- <li><a href="/why.html">Importance of Metadata Assessment</a></li>-->
  <li><a href="https://dlfmetadataassessment.github.io/EnvironmentalScan/">Environmental Scan</a>
      <ul>
		<li><a href="https://dlfmetadataassessment.github.io/EnvironmentalScan/entries/31organizations">Organizations &amp; Groups</a></li>
		<li><a href="https://dlfmetadataassessment.github.io/EnvironmentalScan/entries/32presentations">Presentations</a></li>
		<li><a href="https://dlfmetadataassessment.github.io/EnvironmentalScan/entries/33publications">Publications</a></li>
		<li><a href="https://dlfmetadataassessment.github.io/EnvironmentalScan/entries/34tools">Tools</a></li>
		<li><a href="https://dlfmetadataassessment.github.io/EnvironmentalScan/entries/35citation">Citations</a></li>
      </ul>
  </li>
  <li><a href="https://dlfmetadataassessment.github.io/Framework">Metadata Assessment Framework</a>
      <ul>
          <li><a href="https://dlfmetadataassessment.github.io/Framework/entries/metrics">Metrics</a></li>
          <li><a href="https://dlfmetadataassessment.github.io/Framework/entries/usecases">Use Cases</a></li>
          <li><a href="https://dlfmetadataassessment.github.io/Framework/entries/checklist">Checklist</a></li>
      </ul>
  </li>
  <li><a href="https://dlfmetadataassessment.github.io/EnvironmentalScan/entries/34tools">Tools for Metadata Assessment</a></li>
  <li><a href="https://dlfmetadataassessment.github.io/Sandbox/MetadataSpecsClearinghouse">Metadata Profiles &amp; Mappings Clearinghouse</a></li>
  <!-- <li><a href="/resources.html">Glossary &amp; Resources</a></li> -->
  <li><a href="https://dlfmetadataassessment.github.io/Sandbox/entries/collaborations">Collaborations</a></li>
  <li><a href="https://dlfmetadataassessment.github.io/Sandbox/entries/contributors">Contributors</a></li>
</ul>
